<HTML>
  <BODY>
    <TMPL_LOOP NAME="a">
     <TMPL_VAR NAME="VALUE1">
     <BR />
    </TMPL_LOOP>
<HR />
    <TMPL_LOOP NAME="OTHER">
     <TMPL_VAR NAME="OVAL">
     <BR />
    </TMPL_LOOP>
   </BODY>
</HTML>