<HTML>
   <BODY>
     <H3>Welcome to the BixChange Test Suite</H3>
     Explanation:
     <BR />
     User acceptance testing is normally done by hand. In order to verify that your installation of the BixChange core system is operating according to specifications, you should open the page below and run the tests one by one (ignoring those that are not for your environment). If you experience errors, visit <a href="http://www.bixchange.com">BixChange.com</a>, go to the download page, and click on the Bugs tag. 
    <P />
     <a href="bixchange.cgi?f=tests;tmpl=tests;sort=LSORT">Run Tests</a>
  </BODY>
</HTML>