

  <html>
  <head><title>Using usecoreform</title></head>
    <body>
        <h1>oooooo</h1>
         <table summary="Shomacher Form" width="800">
          
          <TMPL_LOOP NAME="SHOMACHER">
          
            <B> <TMPL_INCLUDE NAME="coreform.tmpl"></B>

          </TMPL_LOOP>
          

    </body>
  </html>
  <!-- end of coreform -->
